<head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">
<style>canvas { width: 100%; height: 100% }</style>
<style>

body {
background-color: #bcbcbc;
background-image: url(" {{=URL('static','images/sfondo.png')}}" );
background-repeat: repeat-x;
font-family: Open Sans;
}

input,select,button{font-family: Open Sans;}
label.campo{
    background-color:#333333;
    display: inline-block;
        color:#D6D6D6
}

</style>


</head>
<body>
    <h1>Piastre Tagliate a Plasma</h1>
    <form>
        Sagoma Piastra: <select id="shape" onchange="view_form()">
                           <option value="1">Rettangolare</option>
                           <option value="2">Circolare</option>
                        </select>


    </form>
    <p>
        <label style="width:10em;" class="campo" >Spessore</label><input type="number" name="thikness" style="width:5em;" ><br>
        <label style="width:10em;" class="campo" >Larghezza</label><input type="number" name="width" style="width:10em;"><br>
        <label style="width:10em;" class="campo" >Altezza</label><input type="number" name="height" style="width:10em;"><br>
    </p>
<button onclick="add_holes()">Aggiungi Foratura</button>
<div id="ciao">
</div>

{{=BEAUTIFY(response._vars)}}

</body>
<script>
    function view_form() {
        var v=document.getElementById("shape").value;
        if (v == 1){alert('Rettangolare');}
        else{alert('Circolare');}
        
    }

    function add_holes() {
        
        alert('aggiungo fori');
    }

</script>

<script src="{{=URL('static','js/three.min.js')}}"></script>
<script src="{{=URL('static','js/TrackballControls.js')}}"></script>
<body>
    

		<script>

            var wWidth = window.innerWidth;
            var wHeight = window.innerHeight;
            var viewSize=1000;
            var aspectRatio=wWidth/wHeight;
			var scene = new THREE.Scene();

            var camera = new THREE.OrthographicCamera(-aspectRatio*viewSize / 2,
                                                       aspectRatio* viewSize / 2,
                                                       viewSize / 2, - viewSize / 2, 10000, -10000, 1000 );

            var renderer = new THREE.WebGLRenderer( {alpha: true, antialias:true});
            renderer.shadowMapEnabled = true;
            renderer.shadowMapSoft = true;

            renderer.setSize(wWidth/1.7, wHeight/1.7);
            document.getElementById("ciao").appendChild(renderer.domElement);

            //add subtle ambient lighting
            var ambientLight = new THREE.AmbientLight(0x222222);
            scene.add(ambientLight);

            var material = new THREE.MeshLambertMaterial({color: 0x61380b, side:1 , overdraw:true});

            // cube
            //var geometry = new THREE.CubeGeometry(500,500,500);
            //var cube = new THREE.Mesh(geometry,material);
            //scene.add(cube);
            
            // rect
            var rectLength = 500, rectWidth = 400;

            var rectShape = new THREE.Shape();
            rectShape.moveTo( -rectLength/2,-rectWidth/2 );
            rectShape.lineTo( -rectLength/2,rectWidth/2  );
            rectShape.lineTo( rectLength/2,rectWidth/2  );
            rectShape.lineTo( rectLength/2,-rectWidth/2  );
            rectShape.lineTo( -rectLength/2,-rectWidth/2 );
            
            
            interno1 = new THREE.Path();
            interno1.moveTo (-100,0);
            interno1.lineTo(100,0);
            interno1.lineTo(0,100);
            interno1.lineTo (-100,0);
            rectShape.holes.push(interno1);

            
            //interno1 = new THREE.Path();
            //interno1.moveTo (50,0);
            //interno1.lineTo(100,0);
            //interno1.lineTo(75,50);
            //interno1.lineTo (50,0);
            //rectShape.holes.push(interno1);
            
            //interno1 = new THREE.CircleGeometry( 100, -36 );
            //interno1.vertices.shift();
            //rectShape.holes.push(interno1);
            
            
            var rectGeom = new THREE.ShapeGeometry( rectShape );
            var rectMesh = new THREE.Mesh(rectGeom,material ) ;

            //scene.add( rectMesh );
            
            
            var options = {amount: 100,
                           steps: 1,
                           bevelSegments: 0,
                           bevelSize: 0,
                           bevelThickness: 0
                          };

            var extshape =new THREE.Mesh( new THREE.ExtrudeGeometry(rectShape, options),material);
            // add it to the scene.
            extshape.castShadow = extshape.receiveShadow = true;

            scene.add(extshape);

            // directional lighting
            var directionalLightOne = new THREE.DirectionalLight(0xffffff,0.7);
            directionalLightOne.position.set(0.6, 0.3, 1).normalize();
            scene.add(directionalLightOne);

            var directionalLightTwo = new THREE.DirectionalLight(0xffffff,0.7);
            directionalLightTwo.position.set(-0.6, -0.3, -1).normalize();
            scene.add(directionalLightTwo);


            camera.position.z= -1000;


            var cameraControls = new THREE.TrackballControls(camera,renderer.domElement);



			function render()
            {
				requestAnimationFrame(render);

                //cube.rotation.x += 0.001;
                //cube.rotation.y += 0.001;
                cameraControls.update();
				renderer.render(scene, camera);
			};

			render();
		</script>
</body>
